body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Navigation Bar Styling */
.navbar > a{
  color:white
}
.navbar > a:hover{
  color:black;
  /* For older browsers */
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}

/* HOVER STYLING  */
/* Hover Element for "It Takes A City Too" H1 */
.navbar > .nav-links > .title-main:hover{
  color: black;

  /* For older browsers */
  -webkit-transition: color 1.5s;
   transition: color 1.5s; 
}

/* Hover for Navigation Bar Items */
.nav-item:hover{
color: black;

/* For older browsers */
-webkit-transition: color 1.5s;
 transition: color 1.5s;
}
/* Hover for Donate Button */
.navbar > .nav-item > .nav-links:hover {
  color: red;

/* For older browsers */
-webkit-transition: color 1.5s;
 transition: color 1.5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

